<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/styles.css">
    <title>Logitrack</title>
</head>
<body>
    <header>
        <h1>LogiTrak</h1>
        <h2>Hi, {{user}}</h2><hr>
    </header>
    <main>
        <section>
            <!-- Users Grid -->
            <div id="usersgrid">
                <!-- User Box - with all user details on Pulled from driver DB -->
                {% for user in liveUsersAmount %}
                    <div id="dynamic-div-{{ loop.index }}" class="users">
                        <img src="https://logitrakdb.khliere.com/logitrakpfp/{{user.DriverId}}{{user.FirstName}}{{user.LastName}}.png" alt="{{user.FirstName}} {{user.LastName}} pfp" width="120px">
                        {% if user.NickName == None %}
                            <h1>{{user.FirstName}}</h1>
                        {% else %}
                            <h1>{{user.NickName}}</h1>
                        {% endif %}

                        <h2>{{user.FirstName}} {{user.LastName}}</h2>
                         
                        <p>{{user.ShiftStatus}}</p>
                        <a href="telegram"><button>Msg on Telegram</button></a>
                        
                    </div>
                {% endfor %}

            </div>

        </section>
    </main>
</body>
</html>